* {
    margin: 0;
    padding: 0; }
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 240px !important;
}
/* HEADER */
.header {
    position: fixed;
    width: 100%;
    background: #ffe;
    z-index: 999;
}

.header-up {
    height: 40px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
    background-color: #2c3e50;
    font-family: Roboto;
}

.header-up div {
    line-height: 36px;
}

.header-up a {
    color: #ddd;
}

@media (max-width:1200px) {
.head-dost {
    font-size: smaller;
}

}

@media (max-width:992px) {
.header-up img {
    display: none;
}
.head-dost, .head-tel {
    padding: 0px 0px; 
}

}

.head-serch {
    color: white;
}
.head-serch img {
    padding: 0 3px;
}
.head-people {
    border-left: 1px #485867 solid;
    padding: 5px 3px;
}

.head-tag {
    padding: 0 7px;
}

.header-middle {
    height: 80px;
    line-height: 80px;
    color: #6c6c6c;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    background: white;
}

@media (max-width:1200px) {
.header-middle {
    font-size: 13px;
}
.header-middle img {
    display: none;
}

}

.logo {
    color: #000;
    font-size: 28px;
}

@media (max-width:992px) {
    .logo {
    font-size: 20px;
    line-height: 2;
    text-align: center;
}

}

~@media (max-width:768px) {
    .logo {
    line-height: 2;
    text-align: center;
}

}

.header-down {
    height: 40px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
    background-color: #2980b9;
}

.nav div{
    border-right: 1px #4792c2 solid;
    height: 40px;
    padding: 10px 0;
}
.nav-head div:first-child{
    border-left: 1px #4792c2 solid;
}
.nav-head div:last-child{
    border-right: 0;
    font-size: 18px;
    font-weight: 700;
    padding: 7px 0;
}

.nav a{
    color: #f9f9f9;
    font-family: Roboto;
    text-transform: uppercase;
}
/*   /HEADER  */

/*   slider  */
.slider {
    background-image: url(images/backg.png);
    height: 330px;
    margin-right: -110px;
    margin-left: -110px;
    margin-top: 160px;
}

.slider h1 {
    color: #fff;
    font-family: "Roboto Slab";
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding-top: 8%;
}

.slider h2 {
    color: #fff;
    font-family: Roboto;
}


/*   /slider  */

.middle-contact h3 {
    width: 65%;
    color: #2c3e50;
    font-family: "Roboto Slab";
    font-weight: 700;
    margin-top: 8%;
}

.middle-contact img {
    margin-right: 5px;
}

.middle-contact p {
    margin: 10px 0 10px;
}

.middle-cont-last {
    margin-bottom: 15%!important;
}

/*   question       */
.question {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #2c3e50;
    margin-top: -40px;
}
.question h2 {
    color: #f9f9f9;
    font-family: "Roboto Slab";
    font-size: 28px;
    font-weight: 700;
}
.question h3 {
    color: #f9f9f9;
    font-family: "Roboto Slab";
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
}
.question>div{
    padding: 20px 50px;
}
.question input{
    font-size: inherit;
    width: 100%;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #959595;
    margin: 8px 0;
    background: #2c3e50;
    padding-left: 15px;
    color: white;
}

.quest-massage {
    height: 150px!important;
    padding-bottom: 100px;

}
.question .submit{
    font-family: Roboto;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    padding: 6px 30px;
}
/*   /question       */




/*      adress      */
.adress {
    background-color: #eaecee;
    height: 380px;
} 

.adress h3 {
    color: #2c3e50;
    font-family: "Roboto Slab";
    font-weight: 700;
    margin-top: 15%;
}

.adress img {
    margin-right: 5px;
    float: left;
}

.adress p {
    padding: 0 0 0 30px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
}
/*      /adress      */

~.map-inner + ymaps{
    width: inherit;
}



/*      попап       */
.modal-quest {
    margin: auto;
    height: 100%;
}

/*      footer       */
.footer {
    height: 240px;
    background-color: #2c3e50;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/*      /footer       */

.down {
    height: 240px;
}

.logo-down {
    border-bottom: 1px #485867 solid;
    color: #a0a7af;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    margin: 5px 15px;
    padding: 20px 0;
}


.nav-down div {
    border: none;
    margin: 25px 0;
}

.contacts-down {
    border-top: 1px #485867 solid;
    margin: 0 15px;
    padding: 20px 0;
}
.contacts-down img {
    padding: 0 10px;
}

